<!DOCTYPE html>
<html lang="en-IE">
	<head>
		{% load static %}
		<title>Social Links</title>
		<link rel="stylesheet" href="{% static 'main/mainstyle.css' %}">
		<link rel="manifest" href="{% static 'main/manifest.json' %}">
			<!-- Icon -->
			<link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/favicon/apple-touch-icon.png' %}">
			<link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/favicon/favicon-32x32.png' %}">
			<link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/favicon/favicon-16x16.png' %}">
			<link rel="manifest" href="{% static 'main/favicon/site.webmanifest' %}">
			<link rel="shortcut icon" href="{% static 'main/favicon/favicon.ico' %}">
			<meta name="msapplication-TileColor" content="#00a300">
			<meta name="msapplication-TileImage" content="{% static 'main/favicon/mstile-144x144.png' %}">
			<meta name="msapplication-config" content="{% static 'main/favicon/browserconfig.xml' %}">
			<meta name="theme-color" content="#228B22">
			<!-- Meta Info -->
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="description" content="Anton Śnieć's personal website">
			<meta name="author" content="Anton Sniec">
			<meta name="keywords" content="Anton.exe, Anton Sniec, Anton Śnieć, Anton, Sniec, Śnieć">
			<meta name="theme-color" content="#008000">
			<!-- Discord embed -->
			<meta content="{% static 'main/mii.png' %}" property="og:image" />
		<style>
			svg {
				width: 24px;
				height: 24px;
				filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
			}
			section {
				display: flex;
				flex-wrap: wrap;
			}
			section > div {
				margin: 10px;
				font-size: 24px;
			}
		</style>
	</head>

    <body>
		<header>
			<h1 style="text-align: center; color: black;">Social Links</h1>
		</header>
		{% include './navbar.html' %}
		<section>
			{% for group in groups %}
			<div>
				<h2>{{ group.title }}</h2>

				{% for link in group.socialmedialink_set.all %}
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="{{ link.icon }}"/></svg>
				<a href="{{ link.link }}">{{ link.name }}</a><br>
				{% endfor %}
			</div>
			{% endfor %}
		</section>
	</body>
</html>
