<!DOCTYPE html>
<html lang="en-IE">
	<head>
		{% load static %}
		<title>Anton's Website</title>
		<link rel="stylesheet" href="{% static 'main/mainstyle.css' %}">
		<link rel="manifest" href="{% static 'main/manifest.json' %}">
			<!-- Icon -->
			<link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/favicon/apple-touch-icon.png' %}">
			<link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/favicon/favicon-32x32.png' %}">
			<link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/favicon/favicon-16x16.png' %}">
			<link rel="manifest" href="{% static 'main/favicon/site.webmanifest' %}">
			<link rel="shortcut icon" href="{% static 'main/favicon/favicon.ico' %}">
			<meta name="msapplication-TileColor" content="#00a300">
			<meta name="msapplication-TileImage" content="{% static 'main/favicon/mstile-144x144.png' %}">
			<meta name="msapplication-config" content="{% static 'main/favicon/browserconfig.xml' %}">
			<meta name="theme-color" content="#228B22">
			<!-- Meta Info -->
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="description" content="Anton Śnieć's personal website">
			<meta name="author" content="Anton Sniec">
			<meta name="keywords" content="Anton.exe, Anton Sniec, Anton Śnieć, Anton, Sniec, Śnieć">
			<meta name="theme-color" content="#008000">
			<!-- Discord embed -->
			<meta content="{% static 'main/mii.png' %}" property="og:image" />
	</head>
	
	<body>
		<header>
			<h1 style="text-align: center; color: black;">{{ page.title }}</h1>
		</header>
		{% include './navbar.html' %}
		{% for section in sections %}
			<section>
				<h2>{{ section.heading }}</h2>
				<p>{{ section.content|safe|linebreaks }}</p>
			</section>
		{% endfor %}
	</body>
</html>
